h1 {
	margin-left: 30%;
	color: navy;
}

.parent {
	font-size: 130%;
	font-family: Arial;
	font-weight: normal;
	font-style: oblique;
	border: 3px solid black;
    background-color: #d0bdf4;
    /*width: 90%; - doesn't align the boxes */ 
    height: 300px;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 10px;
    color: #8458B3;
    padding: 5%;
    position: relative;
    overflow: auto;
    /*display: inline-block; - not neccessary */

}

#p1 {

	
}

#p2 {

}
.child {
	background-color: red;
	width: 100px;
	height: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 90%;
	color: black;
	font-weight: bold;
	font-style: normal;
	padding-left: 11px;

}

#c1 {
	background-color: pink;
	padding-left: 20px;
	color: green;
}

#c2 {
	background-color: yellow;
	padding-left: 20px;
	color: orange;
}



body {
	background-color: #a28089;
}

